<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Tracker</title>
    <link rel="stylesheet" href="./styles/main.css" />
  </head>

  <body>
    <!-- Make a tab here depending on the user count and also make the tab color based on user's color-->
    <section class="user-tab-section">
      <div class="user-tab-container">
        <ul>
          <li class="active">user1</li>
          <li>user1</li>
          <li class="add-user">+ add user</li>
        </ul>
      </div>
    </section>

    <form action="/add" method="post">
      <input
        type="text"
        name="country"
        autofocus
        placeholder="<%= error ? 'Error! Please try again' : success ? 'Successful! Enter another name!' : 'Enter country name'%>"
      />
      <button type="submit">Add</button>
    </form>

    // Insert section here

    <h2 class="total-count">Total Countries: <%=countries.length%></h2>
  </body>
  <script src="./scripts/main.js"></script>
</html>
